* {
    color: #17252a;
    /* rgb(23, 37, 42) */
    color: #2b7a78;
    /* rgb(43, 122, 120) */
    color: #3aafaa;
    /* rgb(58, 175, 170) */
    color: #defef1;
    /* rgb(222, 254, 241) */
    color: #feffff;
    /* rgb(254, 255, 255) */
}